<h1><div id="content" style="text-align: center">Latest Sport Articles</div></h1>
<h2><p style="width: 60%; margin-left: 20%; text-align: center"> <%=firstTopic%> </p></h2>
<p style="width: 60%; margin-left: 20%; text-align: justify;"> <%=firstArticle%> </p>

<h2><p style="width: 60%; margin-left: 20%; text-align: center"> <%=secondTopic%> </p></h2>
<p style="width: 60%; margin-left: 20%; text-align: justify;"> <%=secondArticle%> </p>

